<p-toast></p-toast>
<div class="admin-page">
  <p-card [header]="dialogMode.title" [subheader]="dialogMode.subTitle">
      <div class="grid mb-5">
          <div class="col-12">
              <p-toolbar>
                  <div class="p-toolbar-group-left"></div>
                  <div class="p-toolbar-group-right">
                      <button pButton [label]="dialogMode.saveButton" [icon]="dialogMode.saveButtonIcon" class="p-button-primary mr-3" (click)="onSubmit()"></button>
                      <button pButton class="p-button-secondary" label="Cancel" icon="pi pi-arrow-circle-left" (click)="onCancel()"></button>
                  </div>
              </p-toolbar>
          </div>
      </div>
      <div class="grid">
          <div class="col-12">
            <form [formGroup]="form">
              <div class="p-fluid grid">
                <div class="col">
                  <label for="name" class="block text-900 mb-2">Name</label>
                  <input formControlName="name" id="name" type="text" aria-describedby="name-help" [ngClass]="(hasError(name)) ? 'ng-dirty' : ''" pInputText />
                  <small *ngIf="hasError(name)" id="name-help" class="p-error block">Name is required</small>
                </div>
                <div class="col">
                  <label for="icon" class="block text-900 mb-2">Icon</label>
                  <input formControlName="icon" id="icon" type="text" [ngClass]="(hasError(icon)) ? 'ng-dirty' : ''" pInputText />
                  <small *ngIf="hasError(icon)" id="name-help" class="p-error block">Icon is required</small>
                </div>
              </div>
            </form>
          </div>
      </div>
  </p-card>
</div>

